*{
	margin: 0;
	padding: 0;
}
body{
	background: url(../1.jpg);
}
.but{
	align-items: center;
}
button{
	width: 200px;
	padding: 55px 0;
	text-align: center;
	margin: 20px 10px;
	border-radius: 25px;
	font-weight: bold;
	border: 2px solid #1213E5;
	background: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75));
	color: #fff;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}
span{
	background:#1213E5;
	height: 100%;
	width: 0%;
	border-radius: 25px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -1;
	transition: 0.5s;
}
button:hover span{
	width: 100%;
	font-weight: bold;
}
button:hover{
	border: none;
}	
.content{
	width: 100%;
	position: absolute;
	top: 55%;
	transform: translateY(-50%);
	text-align: center;
	color: #fff;
}
.content p{
	margin: 20px auto;
	font-weight: 100;
	line-height: 25px;
}